<div class="container mt-4">
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="row" [class.content-blur]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Üyelik Bitişi Yaklaşanlar (Abonelik Bitimine 7 Günden Az Kalanlar)</h5>
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Adı</th>
                <th>Telefon</th>
                <th>Branş</th>
                <th>Kalan Gün Sayısı</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of memberRemainingDays">
                <td>{{ member.memberName }}</td>
                <td>{{ member.phoneNumber }}</td>
                <td>{{ member.branch }}</td>
                <td>{{ member.remainingDays }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>