<div class="container mt-4">
  <div
    *ngIf="isLoading"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="row" [class.content-blur]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Borçlu Üyeler</h5>

          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Adı</th>
                <th>Telefon</th>
                <th>Borç</th>
                <th>İşlem</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let debtorMember of debtorMembers">
                <td>{{ debtorMember.name }}</td>
                <td>{{ debtorMember.phoneNumber }}</td>
                <td>
                  {{
                    debtorMember.paymentAmount
                      | currency : "TRY" : "symbol-narrow" : "1.2-2"
                  }}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    (click)="openConfirmDialog(debtorMember)"
                  >
                    <fa-icon [icon]="faEdit" class="mr-1"></fa-icon> Güncelle
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
