<h2 mat-dialog-title>Şirket Adresi Güncelle</h2>
<mat-dialog-content>
  <form [formGroup]="updateForm">
    <mat-form-field>
      <mat-label>Şirket</mat-label>
      <mat-select formControlName="companyID">
        <mat-option *ngFor="let company of companies" [value]="company.companyID">
          {{company.companyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>İl</mat-label>
      <mat-select formControlName="cityID">
        <mat-option *ngFor="let city of cities" [value]="city.cityID">
          {{city.cityName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>İlçe</mat-label>
      <mat-select formControlName="townID">
        <mat-option *ngFor="let town of towns" [value]="town.townID">
          {{town.townName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adres</mat-label>
      <textarea matInput formControlName="adress"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">İptal</button>
  <button mat-button [disabled]="!updateForm.valid" (click)="onSubmit()">Güncelle</button>
</mat-dialog-actions>